Repository wp-cli/language-command, pull requests merged in 2018-08, with the labels that each got.

#29 Add plugin and theme command.
  .github/settings.yml
  README.md
  composer.json
  features/language-core.feature
  features/language-plugin.feature
  features/language-theme.feature
  language-command.php
  src/Core_Language_Command.php
  src/Language_Namespace.php
  src/Plugin_Language_Command.php
  src/Site_Switch_Language_Command.php
  src/Theme_Language_Command.php
  src/WP_CLI/CommandWithTranslation.php
  src/WP_CLI/LanguagePackUpgrader.php
Labels: command:language

#38 Warn if no plugin or theme has been specified
  features/language-plugin.feature
  features/language-theme.feature
  src/Plugin_Language_Command.php
  src/Theme_Language_Command.php
Labels: command:language-plugin-list, command:language-theme-list

#41 Use `download_url()` in language pack upgrader
  src/WP_CLI/LanguagePackUpgrader.php
Labels: command:language-core-install, command:language-core-update, command:language-plugin-install, command:language-plugin-update, command:language-theme-install, command:language-theme-update

#43 Adapt package for framework v2
  .travis.yml
  bin/install-package-tests.sh
  bin/test.sh
  composer.json
  features/bootstrap/FeatureContext.php
  features/bootstrap/Process.php
  features/bootstrap/ProcessRun.php
  features/bootstrap/support.php
  features/bootstrap/utils.php
  features/extra/no-mail.php
  features/steps/given.php
  features/steps/then.php
  features/steps/when.php
  utils/behat-tags.php
Labels: scope:distribution

#45 Update dependencies
  composer.json
Labels: scope:distribution

#40 Enable updating languages for individual plugins and themes
  .github/settings.yml
  README.md
  features/language-core.feature
  features/language-plugin.feature
  features/language-theme.feature
  src/Core_Language_Command.php
  src/Plugin_Language_Command.php
  src/Theme_Language_Command.php
  src/WP_CLI/CommandWithTranslation.php
Labels: command:language-plugin-update, command:language-theme-update

#47 activate_language to private
  src/Core_Language_Command.php
Labels: command:language

#50 Automatically rerun failed scenarios
  .travis.yml
  composer.json
Labels: scope:testing
