Repository wp-cli/language-command, pull requests merged in 2019-04, with the labels that each got.

#75 PHPCS: fix up the code base [1] - various small fixes
  language-command.php
  src/Core_Language_Command.php
  src/Plugin_Language_Command.php
  src/Site_Switch_Language_Command.php
  src/Theme_Language_Command.php
  src/WP_CLI/CommandWithTranslation.php
  src/WP_CLI/LanguagePackUpgrader.php
Labels: command:language

#77 PHPCS: fix up the code base [2] - strict comparisons
  src/Core_Language_Command.php
  src/Plugin_Language_Command.php
  src/Theme_Language_Command.php
Labels: command:language

#78 PHPCS: fix up the code base [3] - prefix global variables
  language-command.php
Labels: command:language

#76 QA: abstract a 3x duplicate closure to a function
  language-command.php
Labels: command:language

#79 PHPCS: fix up the code base [4] - multi-line function calls
  language-command.php
  src/Core_Language_Command.php
  src/Plugin_Language_Command.php
  src/Theme_Language_Command.php
  src/WP_CLI/CommandWithTranslation.php
Labels: command:language

#82 Change `LanguagePackUpgrader::download_package` signature
  src/WP_CLI/LanguagePackUpgrader.php
Labels: bug, command:language-core, command:language-plugin, command:language-theme

#74 Enhancement: Add PHP 7.3 to Travis CI build matrix
  .travis.yml
Labels: scope:testing

#72 Move PHP 5.4 tests from `WP_VERSION` `latest` to `5.1`
  .travis.yml
Labels: scope:testing

#83 Update README.md file
  README.md
Labels: scope:documentation
