Repository wp-cli/language-command, pull requests merged in 2023-10, with the labels that each got.

#124 Support `wp language theme uninstall --all`
  features/language-theme.feature
  src/Theme_Language_Command.php
Labels: command:language-theme-uninstall

#128 Add `wp plugin language uninstall --all`
  README.md
  features/language-plugin.feature
  features/language-theme.feature
  src/Plugin_Language_Command.php
  src/Theme_Language_Command.php
Labels: command:language-plugin-uninstall

#130 Allow for PHP 8.2+ warning on old WP core
  features/language-core.feature
Labels: scope:testing

#132 Skip some tests on SQLite
  features/language-core.feature
  features/language-plugin.feature
Labels: scope:testing
